<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="SubscriptionPackagesTest">
        <classes>
            <class name="org.tests.SubscriptionPackagesTest">
                <methods>
                    <include name="ValidatePackagesInfo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>